<div *ngIf="isShow">
    <input placeholder="English" [(ngModel)]="newEn"><br>
    <input placeholder="Vietnamese" [(ngModel)]="newVn"><br>
    <button (click)="addWord()">Thêm từ mới</button>
</div>

<button (click)="isShow = true" *ngIf="!isShow">Thêm từ mới</button>
<br>
<select [(ngModel)]="filterStatus">
    <option value="XEM_TAT_CA">Xem tất cả</option>
    <option value="XEM_DA_NHO">Xem từ đã nhớ</option>
    <option value="XEM_CHUA_NHO">Xem từ chưa nhớ</option>
</select>
<div *ngFor="let word of arrWords">
    <div class="words" *ngIf="getShowStatus(word.memorized)">
        <h4 [ngStyle]="{ color: word.memorized ? 'green' : 'red' }">
            {{ word.en }}
        </h4>
        <p>{{ word.vn }}</p>
        <button (click)="removeWord(word.id)">Xóa</button>
        <button (click)="word.memorized = !word.memorized">
            {{ word.memorized ? 'đã thuộc' : 'chưa thuộc' }}
        </button>
    </div>
</div>